html, body, #view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#states {
    grid-area: states;
    padding: 8px;
    background-color: white;
}

#hospital-types {
    grid-area: hospitaltypes;
    padding: 8px;
    background-color: white;
}

#select-wrapper {
    display: grid;
    gap: 5px;
    width: 0;
    grid-template-areas:
        "states"
        "hospitaltypes";
}

@media (min-width: 500px) {
    #select-wrapper {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "states hospitaltypes";
    }

    #states, #hospital-type {
        padding: 10px 12px;
    }
}