html, body, #view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#states {
    grid-area: states;
    padding: 8px;
    background-color: white;
}

#hospital-types {
    grid-area: hospitaltypes;
    padding: 8px;
    background-color: white;
}

#select-wrapper {
    display: grid;
    gap: 5px;
    width: 0;
    grid-template-areas:
        "states"
        "hospitaltypes";
}

.modal-window {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    width: 200px;
    z-index: 99999;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.modal-button {
    border: none;
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
    margin: 10px 5px 5px 20px;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

@media (min-width: 500px) {
    #select-wrapper {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "states hospitaltypes";
    }

    #states, #hospital-types {
        padding: 10px 12px;
    }
}

@media (min-width: 700px) {
    #states {
        width: 210px;
    }

    #hospital-types {
        width: 370px;
    }
}