html, body, #view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#select-wrapper {
    display: grid;
    gap: 20px;
    width: 30%;
}

#states {
    grid-column: 1;
    grid-row: 1;
    width: 210px;
    padding: 10px 12px;
    background-color: white;
}

#hospital-types {
    grid-column: 2;
    grid-row: 1;
    width: 370px;
    padding: 10px 12px;
    background-color: white;
}