html, body, #view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#panel {
    display: none;
    width: 300px;
    background-color: rgba(105, 105, 105, 0.5);
}

#panel-span {
    display: inline-block;
}

#panel-heading {
    color: white;
    padding: 5px 10px 5px 20px;
}

#instructions-button, #minimize-button, #maximize-button {
    border: none;
    background-color: rgba(105, 105, 105, 0.5);
    color: white;
    padding: 5px 10px;
    font-size: large;
    font-weight: 700;
}

#instructions {
    color: white;
    margin: 5px 20px 20px 20px;
}

#days-label {
    color: white;
    padding: 20px;
}

#days {
    width: 260px;
    margin: 0px 20px;
}

#calculate-path {
    border: none;
    background-color: rgba(245, 24, 24, 0.7);
    color: white;
    margin: 10px 5px 5px 20px;
    padding: 10px;
    width: 41%;
}

#start-over {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    width: 41%;
}

#message {
    color: white;
    margin: 5px 20px;
}

.esri-widget {
    background-color: rgba(105, 105, 105, 0.5);
    color: white;
}

.esri-widget__heading {
    color: white;
}